<div class="card bg-info add-word">
  <h3>Enter your new word:</h3>
  <form action="/words" method="post">
  <div class="form-group">
    <label for="input_word">Your word:</label>
    <input id="l" name="input_word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-danger">Go!</button>
</form>
</div>
