body {
 background-color: black
}

.welcome {
 text-align: center;
}

.main {
 margin-top: 10%;
}

.bg-info {
  padding: 30px;
}

.bg-secondary {
  margin-top: 40px;
  text-align: center;
}

.words-list,
.definition-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.word,
.definition {
  width: 100%;
  background-color: lightgray;
  padding: 10px;
  border: 3px solid black;
}

.word-btn {
  width: 100%;
  background-color: pink;
  border: 3px solid black;
  height: 100%;
}
