body {
 background-color: black
}

.welcome {
 text-align: center;
}

.words-list {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.word {
  width: 100%;
  background-color: gray;
  padding: 10px;
}

.word-btn {
  width: 100%;
  background-color: pink;
  border: 3px solid black;
  height: 100%;
}
